In [1]:
import pandas as pd
from scipy.stats import chi2_contingency

In [3]:
df=pd.read_csv("financial_info_10k_persons.csv")
df.head(2)

,ID,is_attrited,Age,Gender,Dependent_cnt,Edu_level,Marital_status,Income,Card,Period_m,Total_rel_cnt,Inactive_last_12m,Contacts_cnt_last_12m,Credit_limit,Total_trans_amt,Total_trans_cnt
0,1,0,41,F,2,High School,Married,Less than $40K,Blue,36,6,2,2,4953.0,4183,67
1,2,0,38,M,0,High School,Single,$80K - $120K,Blue,29,3,3,2,5983.0,4141,65

In [7]:
chi2_contingency(pd.crosstab(df["Gender"],df["Marital_status"])) #crosstab 무조건 써야함

(4.093468963560284,
 0.2515464475739655,
 3,
 array([[ 392.8524, 2462.9028, 2067.3924,  392.8524],
        [ 346.1476, 2170.0972, 1821.6076,  346.1476]]))

In [9]:
stat,p,dof,e_val=chi2_contingency(pd.crosstab(df["Gender"],
                                              df["Marital_status"]))
print(stat)
print(p)

4.093468963560284
0.2515464475739655

###1번 고객의 학력이 고졸인 경우 성별과 이탈여부를 사용하여 독립성 검정 실시 단 연속성 수정 안함

In [11]:
df_sub=df.loc[df["Edu_level"]=="High School",]
chi2_contingency(pd.crosstab(df_sub["Gender"],
                            df_sub["is_attrited"]),
                correction=False) #연속성 수정 여부

(3.979589535548525,
 0.04605478481460392,
 1,
 array([[867.82258065, 152.17741935],
        [820.17741935, 143.82258065]]))

2번 성별에 따른 카드 등급은 서로 관련이 있는지 독립성 검정을 실시하고 해당 검정 결과의 검정통계량<br>
tip.종속 변수는 카드 등급으로 하면 댐

In [13]:
chi2_contingency(pd.crosstab(df["Gender"],df["Card"]))

(66.45702170623164,
 2.4470625495771945e-14,
 3,
 array([[4962.486 ,   59.0076,   10.632 ,  283.8744],
        [4372.514 ,   51.9924,    9.368 ,  250.1256]]))

### 3번 최근 12개월의 이용 실적 중 3개월 이상 사용 실적이 없는 것과 고객 이탈의 관계가 있는지 <br>
독립성 검정 실시

In [14]:
df["is_inactive_last_12m"]=(df["Inactive_last_12m"]>=3)+0

In [15]:
chi2_contingency(pd.crosstab(df["Inactive_last_12m"],
                            df["is_attrited"]))

(392.26058849678714,
 1.2887936694268352e-81,
 6,
 array([[  24.3948,    4.6052],
        [1854.0048,  349.9952],
        [2728.0116,  514.9884],
        [3189.8304,  602.1696],
        [ 365.0808,   68.9192],
        [ 148.0512,   27.9488],
        [ 102.6264,   19.3736]]))