In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier #명목형 종속변수
from sklearn.tree import DecisionTreeRegressor #연속형 종속변수

In [2]:
df=pd.read_csv("iris.csv")
df.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [3]:
df["is_setosa"]=(df["Species"]=="setosa")+0 #setosa면 1 아니면 0
df.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species  is_setosa
0           5.1          3.5           1.4          0.2  setosa          1
1           4.9          3.0           1.4          0.2  setosa          1

In [4]:
model_c=DecisionTreeClassifier(random_state=123)
model_c.fit(X=df.iloc[:,:4],
           y=df["is_setosa"])
model_c

DecisionTreeClassifier(random_state=123)

In [5]:
pred_c=model_c.predict(df.iloc[:,:4])
pred_c[:4]

array([1, 1, 1, 1])

In [8]:
model_r = DecisionTreeRegressor(random_state=123) #틀만들고
model_r.fit(X=df.iloc[:,:3],y=df["Petal.Width"]) #학습
pred_r=model_r.predict(df.iloc[:,:3]) #예측값생산
pred_r[:4] #출력 RMSE MSE 출력 다 가능

array([0.25, 0.2 , 0.2 , 0.2 ])

1번 당뇨병 발병 여부를 예측하기 위하여 의사결정나무를 사용하고자 한다<br>
이떄 혈당 혈압 임신 횟수를 기반으로 예측을 했을 때 예측 정확도는?
학습 8, 평가 2 seed=123

In [11]:
df=pd.read_csv("diabetes.csv")
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
df_train,df_test = train_test_split(df,train_size= 0.8,
                                   random_state=123)
df_train.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
318,3,115,66,39,140,38.1,0.150,28,0
313,3,113,50,10,85,29.5,0.626,25,0

In [24]:
model=DecisionTreeClassifier(random_state=123).fit(X=df_train.loc[:,["Glucose","BloodPressure","Pregnancies"]],
                                                  y=df_train["Outcome"])
pred=model.predict(df_test.loc[:,["Glucose","BloodPressure","Pregnancies"]])
pred[:4]

array([1, 0, 1, 0], dtype=int64)

In [29]:
from sklearn.metrics import accuracy_score #분류정확도

In [28]:
accuracy_score(y_true=df_test["Outcome"],
                 y_pred=pred)

0.6298701298701299

2번 환자의 BMI를 예측하기 위하여 회귀나무를 사용하고자 한다 이때 혈당 혈압 피부 두께를 독립변수로 했을 경우 RMSE는 얼마인가?

In [30]:
df=pd.read_csv("diabetes.csv")
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
df_train,df_test = train_test_split(df,train_size= 0.8,
                                   random_state=123)
df_train.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
318,3,115,66,39,140,38.1,0.150,28,0
313,3,113,50,10,85,29.5,0.626,25,0

In [39]:
model= DecisionTreeRegressor(random_state=123).fit(X=df_train.loc[:,["Glucose","BloodPressure","SkinThickness"]],
                                                   y=df_train["BMI"]) #학습
pred=model.predict(df_test.loc[:,["Glucose","BloodPressure","SkinThickness"]]) #예측값생산
pred[:4] #출력 RMSE MSE 출력 다 가능

array([30.8, 28.6, 33.8, 32.2])

In [40]:
from sklearn.metrics import mean_squared_error

In [42]:
mean_squared_error(y_pred=pred,y_true = df_test["BMI"])**0.5

9.924605211306321

3번 분류나무의 파라미터를 바꿔가면서 성능 평가를 하려고 한다<br>
당뇨 발병 여부를 종속변수로 하고 혈당 혈압 임신 횟수 BMI 나이를 독립변수로 하고<br>
Depth를 3에서 6까지 변화시킬때 그 결과로 틀린것은?
학습 7 평가 3 seed=345

In [43]:
df=pd.read_csv("diabetes.csv")
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [45]:
df_train,df_test=train_test_split(df,train_size=0.7,random_state=345)

In [46]:
cols=["Glucose","BloodPressure","Pregnancies","BMI","Age"]
depth_list=[3,4,5,6]
accs=[]
for depth in depth_list:
    model=DecisionTreeClassifier(max_depth=depth,random_state=345)
    model.fit(X=df_train.loc[:,cols],
             y=df_train["Outcome"])
    pred=model.predict(df_test.loc[:,cols])
    accs=accs+[accuracy_score(y_pred=pred,
                             y_true=df_test["Outcome"])]
    
df_score=pd.DataFrame({"depth": depth_list,
                      "accs":accs})
df_score["accs"]=df_score["accs"].round(2)
df_score

   depth  accs
0      3  0.77
1      4  0.76
2      5  0.76
3      6  0.77