In [1]:
import pandas as pd
from scipy.stats import ttest_1samp #단일표본
from scipy.stats import ttest_rel #대응표본 
from scipy.stats import ttest_ind #독립표본

In [2]:
df=pd.read_csv("iris.csv")
df.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [3]:
ttest_1samp(df["Sepal.Length"],popmean=4)

Ttest_1sampResult(statistic=27.263680640799215, pvalue=8.764592435410748e-60)

In [4]:
result=ttest_1samp(df["Sepal.Length"],popmean=4)
result

Ttest_1sampResult(statistic=27.263680640799215, pvalue=8.764592435410748e-60)

In [5]:
result[0]

27.263680640799215

In [6]:
round(result[0],2)

27.26

In [7]:
stat,p=ttest_1samp(df["Sepal.Length"],popmean=4)
print(round(stat,2))
print(round(p,2))

27.26
0.0

In [14]:
stat,p=ttest_1samp(df["Sepal.Length"],popmean=5.843)
print(round(stat,2))
print(round(p,2))

0.0
1.0

In [8]:
df["Sepal.Length"].mean()

5.843333333333335

In [15]:
stat,p=ttest_rel(df["Sepal.Length"],df["Sepal.Width"])
print(round(stat,3))
print(round(p,3))

34.815
0.0

In [16]:
stat,p=ttest_ind(df.loc[df["Species"]=="setosa","Petal.Length"],
                df.loc[df["Species"]=="versicolor","Petal.Length"])
print(round(stat,3))
print(round(p,3))

-39.493
0.0

In [17]:
df=pd.read_csv("bike.csv")
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [18]:
stat,p=ttest_1samp(df["temp"],popmean=20)
print(round(stat,3))
print(round(p,3))

3.091
0.002

In [23]:
df["datetime"]=pd.to_datetime(df["datetime"]) #날짜 뽑아내기 함수
df["year"]=df["datetime"].dt.year
df["month"]=df["datetime"].dt.month
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1

In [24]:
df_sub=df.loc[(df["year"]==2011)&(df["month"]==1),]
len(df_sub)

431

In [26]:
stat,p=ttest_rel(df_sub["casual"],df_sub["registered"])
print(round(abs(stat),3))
print(round(p,3))

21.41
0.0

In [29]:
df["datetime"]=pd.to_datetime(df["datetime"])   #주중 주말 함수 만들기
df["wday"]=df["datetime"].dt.weekday
df["wend"]=(df["wday"]>=5)+0
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,wday,wend
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,5,1
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,5,1

In [30]:
stat,p =ttest_ind(df.loc[df["wend"]==1, "registered"],
                 df.loc[df["wend"]==0, "registered"]) # 주말이 0인 것은? 1인것은? 독립표본 t검정에 넣음
print(round(abs(stat),3))
print(round(p,3))

12.073
0.0